
.box {
    outline-width: 1px;
    outline-style: solid;
    outline-color: rgb(163, 163, 163);
    margin-bottom: 0;
}

.hero {
    margin-bottom: 1rem;
}

.card {
    box-shadow: 0.1rem 0.2rem 10px 2px  #c0bfbf;
}